.home-screen{
  background: url(../img/backgrond.png) center/cover; 
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: inherit;
  padding: 10px 20px;
  font-size: 18px;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  transition: background-color 0.3s ease-in-out;
  z-index: 1;
}

.navbar__dark{
  background-color: dodgerblue;
}
.navbar__menu{
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.navbar__toggle-btn{
  border: none;
  position: absolute;
  top: 12px;
  right: 10px;
  display: none;
  color: black;
}
.navbar__menu__list{
  margin : 0 10px;
  padding: 5px
}

.navbar__menu__list:hover{
  background-color: rgb(67, 190, 239);
  border-radius: 5px;
}

.main__title{
  font-size: 36px;
}
.main-component{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.home-screen{
  padding-top: 70px;
}


.home__container{
  text-align: center;
}
.main-component img{
  width: 200px;
  height: 200px;
  border: 1px solid rgb(0, 59, 121);
  border-radius: 50%;

}

.main__title{
  text-align: center;
  margin: 20px 0;
}

.main__subtitle{
  text-align: center;
  margin-bottom: 20px;
}

.contact_button{
  border: 1px solid rgb(52, 52, 52);
  border-radius: 5px;
  padding: 5px 10px;
  color: black;
}

.arrowBtn{
  position: fixed;
  right: 40px;
  bottom: 40px;
  background-color: cornflowerblue;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 24px;
  text-align: center;
  display: none;
  

}

.btnShow{
  display: block;
}
@media screen and (max-width:728px) {
  .navbar__toggle-btn{
    display: block;
  }
  .navbar{
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar__logo{
    margin-bottom: 5px;
  }

  .navbar__div{
    width: 100%;
  }
  .navbar__menu{
    flex-direction: column;
  }

  .navbar__menu__list{
    text-align: center;
    display: none;
  }

  .about__contents{
    flex-direction: column;
  }

  .about__contents__content{
  margin-bottom: 18px;
  }
  #skills{
    margin-top: 24px;
  }

  .skills-box{
    flex-direction: column;
  }

  .project{
    flex-grow: 1;
  }

}